#!/bin/zsh
#
# Auto-start configuration script for the Z Shell, modular edition.
#

#TODO: edit those variables before use!
ZSH_CONFIG_PATH=$HOME/.config/zshrc.d

# Run through zshrc modules and load them.
for file in $ZSH_CONFIG_PATH/*.zsh
do
    . $file
done
