#!/bin/zsh
#
# Auto-start configuration script for the Z Shell, modular edition.
#

#TODO: edit those variables before use!
ANTIGEN_PATH=/usr/share/zsh/share/antigen.zsh
ZSH_CONFIG_PATH=$HOME/.zshrc.d

# The following line loads all configuration from the zshrc.d directory.
. $ZSH_CONFIG_PATH/*.zsh
