[Unit]
Description=Retrieve desktop theme over TCP

[Service]
ExecStart=sh -c 'exec $HOME/.config/scripts/themeclient.sh'

[Install]
WantedBy=default.target

